:root {
  --main-title-color: #2e2f42;
  --main-bgr-color: #404bbf;
  --second-title-color: #434455;
  --third-title-color: #4d5ae5;
  --fourth-color: #ffffff;
  --logo-color: #f4f4fd;
  --logo-text-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

/* .header {
}

.navigation {
}

.logo {
} */

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list-item {
  color: var(--main-title-color);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--main-bgr-color);
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--main-bgr-color);
}

/* PORTFOLIO */

.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--third-title-color);
}

.main-btn:hover,
.main-btn:focus {
  color: var(--fourth-color);
  background: var(--main-bgr-color);
}

.main-ptf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.ptf-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
/* STUDIO */

.hero {
  background: var(--main-title-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fourth-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--fourth-color);
  background: var(--third-title-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-bgr-color);
}

.products,
.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.products-text,
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

/* FOOTER */

.accent {
  color: var(--third-title-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-text-color);
}

.logo-footer {
  background: var(--main-title-color);
}

.logo-head {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
